.generator-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  margin: 20px;
  min-height: 640px;
  align-items: center;
  padding: 2px;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(255,255,255);
}

.generator-container h1{
   color: #5c5d76;
   margin-top: 14px;
   margin-bottom: -15px;
}



.joke-container{
  position: relative;
   display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: flex-end;
  font-family: Lato;
  text-align: initial;
  font-size: 14px;
  color: #6A707B;
  border-top: 1px solid #dce0ef;
  background-color: #edf0f3;
  float: bottom;
  width: 100%;
  min-height: 200px;
  transition: height 0.15s ease-out;
}
.joke-container h2{
  color:#6A707B;
  text-align: center;
      margin-bottom: 3px;

}
.joke-container p{
  text-align: center;
}
.dad-img-container{
  position: absolute;
  height: 640px;
  width: 400px;
  left: -200px;
  z-index: -1;
}
.dad-img-container img{
  max-height: 100%;
  max-width: 100%;

}



.single-joke-container{
  font-family: Lato;
  height: 0px;
  overflow: hidden;
  margin: 10px 70px 10px 70px;
}

.spinner {
  position: absolute;
  opacity: 0;
  top: -94px;
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(200,200,200, 0.3);
  border-top-color: black;
  animation: 1.5s spin infinite linear;
  transition: opacity 0.3s;
}

.active {
  opacity: 1;
  scale: 1;
}
.inactive{
  opacity: 0;
  scale: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 845px) {
  .generator-container{
    min-height: 90vh !important;
  }

  .joke-container{
  font-size: 13px;
 }

}

@media only screen and (max-width: 360px) {
 h1{
  font-size: 30px;
 }
 .joke-container{
  font-size: 11px;
 }
}